@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
    --header-height: 3.5rem;
    --hue: 207;
    --first-color: hsl(var(--hue), 95%, 50%);
    --first-color-alt: hsl(var(--hue), 40%, 30%);
    --first-color-light: hsl(var(--hue), 25%, 70%);
    --first-color-lighten: hsl(var(--hue), 24%, 92%);
    --title-color: hsl(var(--hue), 4%, 15%);
    --text-color: hsl(var(--hue), 4%, 35%);
    --text-color-light: hsl(var(--hue), 4%, 40%);
    --body-color: hsl(var(--hue), 0%, 100%);
    --container-color: #FFF;
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --font-medium: 500;
    --font-semi-bold: 600;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    margin: var(--header-height) 0 0 0;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .4s;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

body.dark-theme {
    --first-color-dark: hsl(var(--hue), 8%, 20%);
    --title-color: hsl(var(--hue), 4%, 95%);
    --text-color: hsl(var(--hue), 4%, 75%);
    --body-color: hsl(var(--hue), 8%, 12%);
    --container-color: hsl(var(--hue), 8%, 16%);
}

.change-theme {
    color: var(--title-color);
    font-size: 1.15rem;
    cursor: pointer;
}

.nav__btns {
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
}

.dark-theme .steps__bg,
.dark-theme .quiz {
    background-color: var(--first-color-dark);
}

.dark-theme .card__circle,
.dark-theme .footer__subscribe {
    background-color: var(--container-color);
}

.dark-theme .scroll-header {
    box-shadow: 0 1px 4px hsla(var(--hue), 4%, 4%, .3);
}

.dark-theme .dataTables_wrapper .dataTables_length,
.dark-theme .dataTables_wrapper .dataTables_filter,
.dark-theme .dataTables_wrapper .dataTables_info,
.dark-theme .dataTables_wrapper .dataTables_processing,
.dark-theme .dataTables_wrapper .dataTables_paginate,
.dark-theme .dataTables_wrapper .dataTables_filter input
{
    color: #fff;
}

.dark-theme .dataTables_wrapper .dataTables_length select
{
    color: #fff;
    background: var(--first-color);
}

.dark-theme .dataTables_wrapper .dataTables_paginate .paginate_button{
    color: #fff !important;
}

.dark-theme .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dark-theme .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
{
    color: #fff !important;
    background: #333;
}

.section {
    padding: 5.5rem 0 1rem;
}

.section__title,
.section__title-center {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
    line-height: 140%;
}

.section__title-center {
    text-align: center;
}

.container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
}

.main {
    overflow: hidden;
}

.header {
    width: 100%;
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close {
    color: var(--title-color);
}

.nav__logo {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-flex;
    align-items: center;
    column-gap: 0;
    transition: .3s;
}

.nav__logo {
    font-size: 1.15rem;
    color: var(--first-color);
    width: 50px;
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__logo-img {
    max-width: 55px;
    border-radius: 20px;
    margin-right: 15px;
}

.nav__toggle {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        background-color: var(--body-color);
        width: 80%;
        height: 100%;
        top: 0;
        right: -100%;
        box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
        padding: 4rem 0 0 3rem;
        border-radius: 1rem 0 0 1rem;
        transition: .3s;
        z-index: var(--z-fixed);
    }
}

.nav__close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
}

.nav__link:hover {
    color: var(--first-color);
}

.show-menu {
    right: 0;
}

.scroll-header {
    box-shadow: 0 3px 10px hsla(var(--hue), 4%, 15%, .9);
}

.active-link {
    position: relative;
    color: var(--first-color);
}

.active-link::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: var(--first-color);
}

.home {
    padding: 3.5rem 0 2rem;
}

.home__container {
    position: relative;
    row-gap: 2rem;
}

.home__img {
    min-width: 300px;
    justify-self: center;
    border-radius: 1rem;
}

.home__title {
    font-size: var(--big-font-size);
    line-height: 140%;
    margin-bottom: var(--mb-1);
}

.home__description {
    margin-bottom: var(--mb-2-5);
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    transition: .3s;
}

.button:hover .button__icon {
    transform: translateX(.25rem);
}

.button--flex {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

.button--link {
    color: var(--first-color);
    font-weight: var(--font-medium);
}

.button--link:hover .button__icon {
    transform: translateX(.25rem);
}

.nobel__container {
    row-gap: 2rem;
}

.nobel__img {
    width: 300px;
    justify-self: center;
    border-radius: 1rem;
}

.nobel__title {
    margin-bottom: var(--mb-1);
}

.nobel__description {
    margin-bottom: var(--mb-2);
}

.nobel__details {
    display: grid;
    row-gap: 1rem;
    margin-bottom: var(--mb-2-5);
}

.nobel__details-description {
    display: inline-flex;
    column-gap: .5rem;
    font-size: var(--small-font-size);
}

.nobel__details-icon {
    font-size: 1rem;
    color: var(--first-color);
    margin-top: .15rem;
}

.slider__bg {
    background-color: var(--first-color);
    padding: 3rem 2rem 2rem;
    border-radius: 1rem;
}

.slider__container {
    gap: 2rem;
    padding-top: 1rem;
}

.slider__title {
    color: #FFF;
}

.slider__card {
    background-color: var(--container-color);
    padding: 2.5rem 3rem 2rem 1.5rem;
    border-radius: 1rem;
}

.slider__card-number {
    display: inline-block;
    background-color: var(--first-color-alt);
    color: #FFF;
    padding: .5rem .75rem;
    border-radius: .25rem;
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-1-5);
    transition: .3s;
}

.slider__card-title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.slider__card-description {
    font-size: var(--small-font-size);
}

.slider__card:hover .slider__card-number {
    transform: translateY(-.25rem);
}

.swiper-pagination {
    position: initial;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--mb-1-5);
}

.swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    background-color: #fff;
    opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 .5rem;
}

.swiper-pagination-bullet-active {
    width: 1.5rem;
    height: 5px;
    border-radius: .5rem;
}

.slider__button {
    color: var(--first-color);
    font-size: var(--normal-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}

.slider__modal{
    position: fixed;
    inset: 0;
    background-color: hsla(210, 28%, 16%, .7);
    padding: 2rem 1rem;
    display: grid;
    place-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
    z-index: var(--z-modal);
}

.slider__modal-content{
    position: relative;
    max-width: 968px;
    background-color: var(--body-color);
    padding: 4.5rem 1.5rem 2.5rem;
    border-radius: 1.5rem;
}

.slider__modal-title{
    text-align: center;
    font-size: var(--h3-font-size);
    color: var(--first-color);
    margin-bottom: 1rem;
}

.slider__modal-subtitle {
    font-size: var(--normal-font-size);
    color: var(--first-color);
    font-weight: 500;
    text-align: center;
    flex-wrap: wrap;
}

.slider__modal-description{
    font-size: var(--normal-font-size);
    margin-bottom: 2rem;
    text-align: left;
}

.slider__modal-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
}

.active-slider__modal{
    opacity: 1;
    visibility: visible;
}

.slider__content {
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    column-gap: 1.5rem;
}

.slider__data-container {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 250px;
}

.slider__modal-img {
    max-width: 150px;
    height: auto;
    padding: .3rem;
    margin-left: 1rem;
    border-radius: 1rem;
    background: var(--first-color-lighten);
}

.slider__box {
    display: flex;
    text-align: left;
    row-gap: 2.5rem;
}

@media screen and (min-width: 400px) {
    .slider__modal-img{
        min-width: 250px;
    }
}

.card__container {
    padding: 3rem 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 3rem;
}

.card__card {
    display: grid;
    position: relative;
}

.card__img {
    position: relative;
    width: 120px;
    border-radius: 1rem;
    justify-self: center;
    margin-bottom: var(--mb-0-75);
    transition: .3s;
}

.card__title,
.card__price{
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.card__description{
    text-align: center;
}

.card__title {
    text-align: center;
    margin-bottom: .25rem;
}

.card__card:hover .card__img {
    transform: translateY(-.5rem);
}

.quiz {
    margin-top: 3rem;
    background-color: var(--first-color-lighten);
}

.quiz__container {
    gap: 1.5rem;
    padding: 1.5rem 0;
}

.quiz__group {
    display: grid;
    row-gap: 1.5rem;
}

.quiz__item {
    background-color: var(--container-color);
    border-radius: .25rem;
}

.quiz__item-title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.quiz__icon {
    font-size: 1.25rem;
    color: var(--title-color);
}

.quiz__description {
    font-size: var(--smaller-font-size);
    color: var(--container-color);
    padding: 1.25rem;
}

.quiz__description p{
    margin-bottom: 0.5rem;
}

.quiz__header {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    padding: .75rem .5rem;
    cursor: pointer;
}

.quiz__content {
    overflow: hidden;
    height: 0;
}

.quiz__item,
.quiz__header,
.quiz__item-title,
.quiz__icon,
.quiz__description,
.quiz__content {
    transition: .3s;
}

.quiz__item:hover {
    box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, .15);
}

.open .quiz__header,
.open .quiz__content {
    background-color: var(--first-color);
}

.open .quiz__item-title,
.open .quiz__description,
.open .quiz__icon {
    color: #FFF;
}

.open .quiz__icon {
    transform: rotate(45deg);
}

/*=============== MEG NINCS KESZ ===============*/
.footer {
    position: relative;
    overflow: hidden;
}

.footer__container {
    row-gap: 4rem;
}

.footer__logo {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: 1.25rem;
    transition: color 0.3s;
}

.footer__logo img {
    width: 30px;
}

.footer__logo:hover {
    color: var(--first-color-alt);
}

.footer__description {
    font-size: var(--small-font-size);
}

.footer__content,
.footer__links {
    display: grid;
}

.footer__content {
    grid-template-columns: repeat(2, max-content);
    gap: 2.5rem 4.5rem;
}

.footer__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1.5rem;
}

.footer__links {
    row-gap: 0.75rem;
}

.footer__item {
    color: var(--text-color);
    font-size: var(--small-font-size);
    cursor: pointer;
    transition: color 0.3s;
}

.footer__item:hover {
    color: var(--first-color);
}

.footer__social {
    display: flex;
    column-gap: 1.25rem;
}

.footer__social-link {
    color: var(--first-color);
    font-size: 1.25rem;
    transition: color 0.3s, transform 0.3s;
}

.footer__social-link:hover {
    color: var(--first-color-alt);
    transform: translateY(-0.25rem);
}

.footer__copy {
    position: relative;
    display: block;
    margin-top: 8rem;
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--text-color-light);
}

.footer .shape__small {
    right: -7rem;
    top: 15rem;
}

.footer .shape__big {
    left: -8rem;
    bottom: -5rem;
}

/*=============== KESZ ===============*/
.scrollup {
    position: fixed;
    background-color: var(--first-color);
    right: 1rem;
    bottom: -30%;
    display: inline-flex;
    padding: .5rem;
    border-radius: .25rem;
    z-index: var(--z-tooltip);
    opacity: .8;
    transition: .4s;
}

.scrollup__icon {
    font-size: 1rem;
    color: #FFF;
}

.scrollup:hover {
    background-color: var(--first-color-alt);
    opacity: 1;
}

.show-scroll {
    bottom: 3rem;
}

::-webkit-scrollbar {
    width: .6rem;
    background: hsl(var(--hue), 4%, 53%);
}

::-webkit-scrollbar-thumb {
    background: hsl(var(--hue), 4%, 29%);
    border-radius: .5rem;
}

@media screen and (max-width: 320px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .home__img {
        width: 200px;
        padding: .5rem;
    }

    .home__title {
        font-size: var(--h1-font-size);
    }

    .slider__bg {
        padding: 2rem 1rem;
    }

    .slider__card {
        padding: 1.5rem;
    }

    .card__container {
        grid-template-columns: .6fr;
        justify-content: center;
    }

    .nav__logo {
        width: 40px;
    }

    .footer__contnet {
        gap: 2.5rem;
    }
}

@media screen and (min-width: 576px) {
    .slider__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .card__container {
        grid-template-columns: repeat(2, 170px);
        justify-content: center;
        column-gap: 5rem;
    }

    .footer__content {
        grid-template-columns: repeat(3, max-content);
    }
}

@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 3rem;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 1.5rem;
    }

    .nav__menu {
        margin-left: auto;
    }

    .home__container,
    .nobel__container,
    .quiz__container{
        grid-template-columns: repeat(2, 1fr);
    }

    .home {
        padding: 10rem 0 5rem;
    }

    .home__container {
        align-items: center;
    }

    .home__img {
        min-width: 350px;
        order: 1;
    }

    .home__social {
        top: 30%;
    }

    .quiz__container {
        align-items: flex-start;
    }

    .footer__content {
        grid-template-columns: repeat(4, max-content);
    }

    .nav__logo-img{
        width: 120px;
    }

    .nav__logo {
        width: 85px;
    }

    .nav__list{
        gap: .5rem;
        margin-left: 4rem;
    }

    .home__social {
        display: grid;
    }
}

@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .section {
        padding: 8rem 0 1rem;
    }

    .section__title,
    .section__title-center {
        font-size: var(--h1-font-size);
    }

    .home {
        padding: 13rem 0 5rem;
    }

    .home__img {
        width: 600px;
    }

    .home__description {
        padding-right: 7rem;
    }

    .nobel__img {
        width: 380px;
    }

    .slider__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .slider__bg {
        padding: 3.5rem 2.5rem;
    }

    .slider__card-title {
        font-size: var(--normal-font-size);
    }

    .card__container {
        padding: 4rem 0;
        grid-template-columns: repeat(3, 185px);
        gap: 4rem 6rem;
    }

    .card__img {
        width: 160px;
    }

    .card__circle {
        width: 110px;
        height: 110px;
    }

    .card__title,
    .card__price {
        font-size: var(--normal-font-size);
    }

    .quiz__container {
        padding: 1rem 0 4rem;
    }

    .quiz__title {
        text-align: initial;
    }

    .quiz__group {
        row-gap: 2rem;
    }

    .quiz__header {
        padding: 1rem;
    }

    .quiz__description {
        padding: 2rem;
    }

    .footer__container {
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    }
    
    .footer__logo {
        font-size: var(--h3-font-size);
        margin-bottom: 1.5rem;
    }
    
    .footer__content {
        column-gap: 5rem;
    }
    
    .footer__links {
        font-size: var(--normal-font-size);
    }
    
    .footer__social {
        column-gap: 1.5rem;
    }
    
    .footer__social-link {
        font-size: 1.5rem;
    }
    
    .footer__copy {
        margin: 10rem 0 4rem;
    }

    .nav__logo-img {
        width: 100%;
    }

    .nav__list {
        gap: 1.5rem;
        margin-left: 0;
    }
}

@media screen and (min-width: 1200px) {
    .nav__list {
        flex-direction: row;
    }

    .home__social {
        right: -3rem;
        row-gap: 4.5rem;
    }

    .home__img{
        width: 800px;
    }

    .nobel__container {
        column-gap: 7rem;
    }

    .scrollup {
        right: 3rem;
    }
}